footer {
    padding-top: 12rem;
}

main {
    position: relative;
    z-index: 1;
}
  
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding-bottom: 8rem;
    background-image: url(/pics/form_back2.jpg);
    background-size: cover;
    background-position: center ;
    filter: blur(6px);
}

#Space{
    height: 8rem;
}
  
#content{
    backdrop-filter: none;
    background-color: rgba(240, 248, 255, 0.765);
    width: 48%;
    position: relative;
    margin: 0.5rem auto;
    padding: 4rem 0rem;
    border-radius: 30px;
    margin-top: 5rem;
}

#content_header{
    text-align: center;
    margin-bottom: 3rem;
}

h1{
    font-size: 3rem;
    color:  rgb(9, 44, 85);
    font-weight: 300;
    margin: 0;
}

#logo{
    color: white;
    margin-bottom: 1rem;
}

h2{
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    font-size: 1.8rem;
}

form{
    position: relative;
    margin: 0.5rem auto;
}

label {
    font-size: 2rem;
    display: block;
    margin-bottom: 0.5rem;
    color:  rgb(9, 44, 85);
}

input {
    background-color: white;
    box-shadow: 2px 4px 8px rgba(143, 143, 143, 0.899) ;
    border-radius: 25px;
    border-color: transparent;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}


.inline_1{
    margin-bottom: 1rem;
}

.inline_1 li {
    margin-left: 4rem;
}

.inline_1 input{
    width: 44rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.inline_1  div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inline_1 svg{
    width: 2rem;
    height: 2rem;
    color:  rgb(9, 44, 85);
    margin-left: -3.5rem;
}

#agree {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#agree div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#agree input{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem 0rem 3rem 7rem;
}

#agree label {
    display: inline;
    padding-left: 1rem;
    color: black;
    font-size: 1.8rem;
}

#agree a {
    font-size: 1.8rem;
    color:  rgb(9, 44, 85);
    padding-right: 5rem;
}

#edit_save{
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}

#edit_save li {
    margin-top: 3rem;
}

#save{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 33rem;
    margin: 0 auto;
    background-color: rgba(77, 155, 215, 0.806) ;
    padding: 0.7rem 1rem;
    font-size: 2.3rem;
    color:  rgb(9, 44, 85);
    border-radius: 35px;
    box-shadow: 2px 4px 8px rgba(143, 143, 143, 0.687) ;
}

#save svg {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    color:  rgb(9, 44, 85);
}

#save p {
    margin: 0;
    padding-left: 14rem;
}

#sign_in{
    text-align: center;
    margin-top: 5rem;
    font-size: 1.8rem;
    color:  rgb(9, 44, 85);
}

#sign_in a {
    color:  rgb(9, 44, 85);
    text-decoration: underline;
}